@media (max-width: 1023px){
    .row-user_profile{
        display: none;
    }
}
.column{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 1rem;
}
/* Feeds row */
.postcolumn{
    margin: 10px 0;
    margin-top: 2rem;
    position: relative;
}
.mobile_post{
    display: none;
}
.post_icon{
    background-color: #8f1983;
    font-size: 40px;
    font-weight: 900;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    right: 10px;
    bottom: 20px;
    cursor: pointer;
    z-index: 1;
}
.postform{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 1rem;
    padding: 1rem;
    padding-right: 0;
    border: #000 1px solid;
    border-left: none;
    border-right: none;
    height: auto;
}
.post_input{
    display: grid;
    width: 100%;
    height: 100%;
}
.form_input{
    width: 100%;
    height: 100%;
}
.post_input textarea{
    width: 100%;
    height: 5rem;
    outline: none;
    border: none;
    padding: 1rem;
    resize: none;
    font-weight: 400;
    font-size: 15px;
}
textarea:focus{
    border-bottom: 1px #000 solid;
}
.post_input button{
    justify-self: end;
}
.media_upload{
    display: none;
}
#media{
    margin-top: 10px;
}
.docm{
    display: none;
    justify-content: flex-start;
    align-items: center;
    gap: 1rem;
    background-color: #eeeeee;
    width: fit-content;
    padding: 10px 1.5rem 10px 1rem;
    margin: 10px;
}
.doc{
    width: 40px;
}
.docm span{
    font-size: 12px;
    font-weight: 400;
}
.media-icon{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 10px;
}
.media_upload-icon i{
    font-size: 25px;
    color: #8f1983;
    margin: 0 5px;
    cursor: pointer;

}
.post_content{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    height: auto;
    gap: 1rem;
}
.authordetails{
    display: flex;
    gap: 3px;
    padding-bottom: 8px;
}
#authordp{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
}
.post{
    border-bottom: solid #000 0.5px;
    padding: 1rem 1.5rem 1rem 1rem;
    margin: 8px 0;
}
.post-content{
    margin: 1rem 0;
    display: grid;
    gap: 1rem;
    position: relative;
}
.postdoc{
    position: relative;
    display: flex;
    align-items: center;
    background-color: #eeeeee;
}
.post_doc{
    width: 60px;
    flex-grow: 1;
}
.docdetails{
    position: relative;
    width: auto;
    padding: 1rem;
    padding-right: 2rem;
    bottom: 1px;
    flex-grow: 1;
}
a{
    text-decoration: none;
}
.docdetails span{
    font-size: 0.7rem;
    font-weight: 400;
    color: #000;
    word-wrap: break-word;
}
.postimg{
    display: grid;
}
.postimg img{
    border-radius: 10px;
}

/* User feed */
.row-user_profile{
    position: relative;
}
.row-profile{
    position: fixed;
    margin: 0 1rem;
    padding-top: 10px;
}
.search{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 0 1rem;
    margin: 1rem 0;
    background-color: #eeeeee;
    border-radius: 15px;
}
.searchbar{
    width: 100%;
    height: 100%;
    background-color: transparent;
}

@media (min-width: 768px){
    .post-content{
        grid-template-columns: auto 1fr;
    }
    .postdoc{
        display: block;
        width: 150px;
    }
    .post_doc{
        width: -webkit-fill-available;
    }
}

@media (min-width: 640px) and (max-width: 1023px){
    .postcolumn{
        margin-top: 0;
    }
}

@media (max-width: 639px){
    .postform{
        display: none;
    }
    .mobile_post{
        display: block;
    }
}

@media (min-width: 1024px) and (max-width: 1260px){
    /* Home Feed style */
    #authordp{
        width: 50px;
        height: 50px;
        border-radius: 50%;
        object-fit: cover;
    }
    .row-feeds{
        width: 25rem;
        border-right: 1px #000 solid;
    }
    /* User row */
    .row-user_profile{
        width: 15rem;
        position: relative;
    }
    .row-profile{
        width: 15rem;
    }
    .postimg{
        margin-top: 10px;
        display: grid;
        border-radius: 10px;
    }
}
@media (min-width: 1261px){
    .side_nav{
        width: 20rem;
    }
    .exquis{
        width: 20rem;
    }
    /* Home feed style */
    .row-feeds{
        width: 35rem;
        border-right: 1px #000 solid;
    }
    /* User row */
    .row-user_profile{
        width: 20rem;
        position: relative;
    }
    .row-profile{
        position: fixed;
        width: 20rem;
        margin: 0 1rem;
        padding-top: 10px;
    }
    .postdoc{
        display: block;
        width: 100px;
    }
    .docdetails{
        padding: 5px;
    }

}