*{
    color: #fff;
}
body{
    background-color: #000;
    color: #fff;
}
.exquis{
    background-color: #000;
    border-right: 1px #fff solid;
}
ul a{
    color: #fff;
}
.mode p{
    color: #fff;
}
#nav-username{
    color: #fff;
}
#nav-department{
    color: #ffffff85;
}
textarea{
    background-color: #000 !important;
}
textarea:focus{
    border-bottom: 1px #454545 solid;
}
.post{
    border-bottom: solid #fff 0.5px;
}
.row-feeds{
    border-right: 1px #fff solid;
}
.docm{
    background-color: #454545;
}
.postdoc{
    background-color: #454545;
}
.postform{
    border: #fff 1px solid;
}
.search, input{
    background-color: #454545;
}