* {
  box-sizing: border-box;
  font-family: sans-serif;
  margin: 0;
}
body{
  background-color: #fff;
  margin: 0;
  transition: ease-in .3s;
}
body.fadeIn {
   animation: fadeIn 1000ms ease-in-out;
}

@keyframes fadeIn {
    0% {
        transform: translateY(100%);
    }
    100% {
        transform: translateY(0%);
    }
}
.logpg-navbar{
  display: grid;
  justify-content: flex-start;
  margin: 10px 1rem;
}
.lgimg{
  width: 60px;
}
img{
  width: 100%;
  height: auto;
  image-rendering: optimizeQuality;
}
.container{
  padding: 1rem 0;
  display: grid;
}
.container div{
  justify-self: center;
}
#cta{
  font-size: 1.5rem;
  font-weight: 600;
  padding-bottom: 0.5rem;
}
.reg{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 85%;
}
.log{
  width: 20rem;
}
input, select{
  width: 18.8rem;
  height: 2.5rem;
  padding: 0 10px;
  margin: 8px 0;
  font-size: 0.9rem;
  border: none;
  outline: none;
  border-radius: 8px;
  background-color: #fdd0fe;
}
.shadow-lg{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
/* label{
  display: none;
} */
ul{
  margin: 3px 0;
  padding: 0;
  list-style: none;
}
.error{
  color: crimson;
  font-size: 12px;
  font-weight: 500;
}
.versa{
  padding: 10px 0;
  font-size: 15px;
  font-weight: 500;
  text-align: center;
}
button{
  background-color: #4e0445;
  color: #ffffff;
  width: 6rem;
  height: 2rem;
  border: none;
  border-radius: 10px;
  margin: 10px 0;
  cursor: pointer;
}
option{
  background-color: #fff4ff;
}
.lgscreen{
  display: none;
}
.drs{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 7rem;
  margin-top: 4rem;
}
.plus{
  padding: 18px;
}
#profile{
  margin-bottom: 10px;
  padding: 5px;
  width: 100px;
  height: 100px;
  border: #4e0445 1px solid;
  border-radius: 50%;
  background-color: #fdd0fe;
  object-fit: cover;
  cursor: pointer;
}
#id_profile_picture{
  display: none;
}

/* Homepage Navbar */

.site{
  justify-content: center;
  overflow-x: hidden;
}
.top-nav{
  width: 100%;
  height: 5.34rem;
  padding: 12px;
  padding-left: 16px;
  position: fixed;
  background-color: #fff;
  border-bottom: 1px #000 solid;
  z-index: 1;
}
.nav-top{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 10px;
}
.top{
  width: 100%;
  height: 5.2rem;
}
.side_nav{
  border-right: solid 1px #000;
  height: 100vh;
  z-index: 1;
  position: absolute;
  left: -100%;
  top: 0;
  transition: ease-in-out .5s;
  overflow-y: hidden;
}
.exquis{
  background-color: #fff;
  width: 21rem;
  position: fixed;
  height: 100%;
  padding: 1rem;
  padding-bottom: 2rem;
  border-right: 1px #000 solid;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  z-index: 1;
}
.nav-header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
  padding: 1rem;
}
.menu_i{
  font-size: 30px;
  font-weight: 800;
  cursor: pointer;
}
.search-bar{
  font-size: 25px;
}
ul a{
  text-decoration: none;
  color: #000;
  display: flex;
  align-items: center;
  gap: 8px;
}
ul li:hover{
  background-color: #3c393c;
}
ul i{
  padding-right: 10px;
}
ul li{
  list-style: none;
  font-size: 20px;
  margin: 20px 0;
  padding: 10px;
}
ul li i{
  font-size: 25px;
}
ul p{
  line-height: 24px;
}
.sidebar{
  margin-left: 10px;
  height: 38rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 2rem;
}
.mode{
  margin: 1rem 0;
  padding: 10px;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;
  width: 10rem;
  cursor: pointer;
}
.mode p{
  color: #000;
  font-size: 1.3rem;
  font-weight: 700;
}
.mode i{
  color: #4e0445;
}
.user{
  display: flex;
  gap: 1rem;
  height: 4rem;
  justify-content: flex-start;
  align-items: flex-start;
  cursor: pointer;
}
.userpics{
  border-radius: 50%;
  width: 50px;
  height: 50px;
}
#nav-username{
  margin: 0;
  padding-bottom: 3px;
  font-size: 25px;
  font-weight: 700;
  color: #000;
}
#nav-department{
  margin: 0;
  padding: 3px 0;
  font-size: 15px;
  font-weight: 500;
  color: #00000074;
}

/* Resolution Style */
@media (min-width: 1024px){
.nav{
  margin-left: 0;
}
  .logpg-navbar{
    display: none;
  }
  .login{
    padding: 2rem 0;
  }
  .drs{
    flex-direction: row-reverse;
    margin: 3rem;
    margin-top: 4.5rem;
  }
  .reg{
    width: 25rem;
  }
  .lgscreen{
    display: block;
    border-right: #000 solid 2px;
    padding-right: 2rem;
  }
  .flogo{
    width: 300px;
  }
  .log{
    width: 23rem;
  }
  input, select{
    width: 20rem;
    height: 3rem;
    padding-left: 12px;
    margin: 13px 0;
  }

  /* Homepage Navbar */

  .site{
    display: flex;
    margin: 0 3rem;
  }
  .top{
    display: none;
  }
  .menu_i{
    display: none;
  }
  .nav{
    position: relative;
  }
  .side_nav{
    width: 16rem;
    z-index: 0;
    position: relative;
    left: 0;
  }
  .exquis{
    width: 16rem;
  }
  .sidebar{
    height: 32rem;
  }

}
