<!DOCTYPE html>
<html>
  <head>
    {% load static %}
    <meta name="viewport" content="width=device-width,initial-scale=1.0" />
    <link
      rel="stylesheet"
      type="text/css"
      href="{% static 'css/style.css' %}" />
    <script src="{% static 'Js/scripts.js' %}"></script>
    {% load static %} {% if Home %}
    <title>FUTA: Chat</title>
    {% endif %} {% if profile %}
    <title>User Profile</title>
    {% endif %} {% if Login %}
    <title>Login</title>
    {% endif %} {% if signUp %}
    <title>Create Account</title>
    {% endif %}
  </head>
  <body>
      <header class="header">
        <div class="logobox">
          <a href="{% url 'Homepage' %}"><img class="logo" alt="" src="{% static 'media/images/Futalogo.jpg' %}" /></a>
        </div>
        <div class="navbar">
          {% if Home %}
          <ul class="topmenu">
            <li id="topmenu1">News</li>
            <li id="topmenu2">Chat</li>
            <li id="topmenu3">
              Account
              <ul class="submenu">
                <li id="submenu1"><a href="{% url 'profilePage' %}">Profile</a></li>
                <li id="submenu2"><a href="{% url 'createAccount' %}">Register</a></li>
                <li id="submenu3"><a href="{% url 'Login' %}">Login</a></li>
              </ul>
            </li>
            </ul>
          {% endif %}
          {% if not Home %}
          <ul class="topmenu">
            <li class="topmenu2"><a href="{% url 'createAccount' %}">Sign up</a></li>
            <li class="topmenu3"><a href="{% url 'Login' %}">Login</a></li>
          </ul>
        {% endif %}
        </div>
      </header>
    <div class="main">{% block content %} {% endblock %}</div>
    <footer id="foot">
      <div>
        <p>&copy; 2024 FUTA Chat</p>
      </div>
    </footer>
  </body>
</html>
