{% extends "Base.html" %} {% load static %} {% block content %}
<div class="log">
  <form class="shadow-lg" method="post" action="createAccount">
    {% csrf_token %}
    <div>
      <img src="{% static 'media/images/Futalogo.jpg' %}"/>
    </div>
    <h4>Create Account</h4>
    <label for="username">Username</label>
    <input class="shadow" type="text" id="username" name="username" required />
    <label for="email">Email</label>
    <input class="shadow" type="email" id="email" name="email" required />
    <label for="password">Password</label>
    <input class="shadow" type="password" id="password" name="password" required />
    <label for="password2">Confirm Password</label>
    <input class="shadow" type="password" id="password2" name="password2" required />
    <p>Already have an account?<span id="inlinelink"><a href="{% url 'Login' %}">&nbsp;Sign in</a></span></p>
    {% for message in messages %}
    <p class="text-danger">{{message}}</p>
    {% endfor %}
    <input class="shadow" type="submit" value="Sign up" id="logbtn" />
  </form>
</div>
{% endblock %}
