{% extends "Base.html" %} {% load static %} {% block content %}
<div class="content">
  <div class="sidebar">
    <div class="userbox">
        <div class="sidebar">
          <div>
            <img src="{% static 'media/images/Futalogo.jpg' %}">
          </div>
          <div>
          <ul>
            <li>Profile</li>
            <li>Customization</li>
            <li>Faculty</li>
            <li>Department</li>
            <li>Social</li>
            <li>Settings</li>
            <li>Privacy</li>
            <li>Earn</li>
            <li>Legal Terms</li>
          </ul>
        </div>
        </div>
      <div class="userprof">
        <img src="{% static 'media/images/DP.png' %}" id="user-dp">
        <h3 class="user-tag">Rayne</h3>
    </div>
    </div>
  </div>
  <div class="postsection">
    <div class="sidebar2">
      <div class="userbox2">
          <div class="sidebar2">
            <div>
              <img src="{% static 'media/images/Futalogo.jpg' %}">
            </div>
            <div>
            <ul>
              <li>Profile</li>
              <li>Customization</li>
              <li>Faculty</li>
              <li>Department</li>
              <li>Social</li>
              <li>Settings</li>
              <li>Privacy</li>
              <li>Earn</li>
              <li>Legal Terms</li>
            </ul>
          </div>
          </div>
        <div class="userprof2">
          <img src="{% static 'media/images/DP.png' %}" id="user-dp2">
          <h3 class="user-tag2">Rayne</h3>
      </div>
      </div>
    </div>
    <div>
      <div class="post">
        <div>
          <img
            src="{% static 'media/images/DP.png' %}"
            alt="Author Display Picture"
            class="author-dp" />
        </div>
        <div>
          <div class="post-content">
            <div>
              <h4 class="username">Rayne</h4>
              <h5 class="usertag">@Raynej26</h5>
            </div>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit.
              Perspiciatis cumque dolorem saepe fuga perferendis aliquid
              mollitia. Dolor minima distinctio exercitationem eius, alias unde
              sed voluptatibus esse, nobis vel modi nam?
            </p>
          </div>
          <img
            src="{% static 'media/images/H5.png' %}"
            alt="Post Picture"
            class="post-pic" />
          <div class="reaction-section">
            <div>Reactions: Like Comment Share</div>
            <div>10 Likes 5 Comments 3 Shares</div>
          </div>
        </div>
      </div>

      <!-- post 2 -->
      <div class="post">
        <div>
          <img
            src="{% static 'media/images/images.jpeg' %}"
            alt="Author Display Picture"
            class="author-dp" />
        </div>
        <div>
          <div class="post-content">
            <div>
              <h4 class="username">Skriter</h4>
              <h5 class="usertag">@xxl</h5>
            </div>
            <p>
              Lorem ipsum dolor sit, amet consectetur adipisicing elit. Iusto
              doloribus officiis excepturi assumenda aperiam aliquam ex facilis
              ea id suscipit! Pariatur nostrum ab exercitationem facere enim.
              Quidem odit nisi iure.
            </p>
          </div>
          <img
            src="{% static 'media/images/H7.jpg' %}"
            alt="Post Picture"
            class="post-pic" />
          <div class="reaction-section">
            <div>Reactions: Like Comment Share</div>
            <div>10 Likes 5 Comments 3 Shares</div>
          </div>
        </div>
      </div>

      <!-- Post 3 -->

      <div class="post">
        <div>
          <img
            src="{% static 'media/images/Dp3.png' %}"
            alt="Author Display Picture"
            class="author-dp" />
        </div>
        <div>
          <div class="post-content">
            <div>
              <h4 class="username">Scenery</h4>
              <h5 class="usertag">@lyf</h5>
            </div>
            <p>
              Lorem ipsum, dolor sit amet consectetur adipisicing elit.
              Voluptate suscipit repellendus sunt, ipsa nihil pariatur maiores
              harum quasi, optio facilis, eligendi architecto aspernatur est
              fugiat id rerum iure nam dolores?
            </p>
          </div>
          <img
            src="{% static 'media/images/H6.jpg' %}"
            alt="Post Picture"
            class="post-pic" />
          <div class="reaction-section">
            <div>Reactions: Like Comment Share</div>
            <div>10 Likes 5 Comments 3 Shares</div>
          </div>
        </div>
      </div>
      
    </div>
    </div>
    <div class="videosection">
      <div>
        <div class="videobox">
          <video
            id="video1"
            class="postvid"
            onclick="videoControl(1)"
            src="{% static 'media/videos/Kicked.mp4' %}"
            loop></video>
          <div class="overlay">
            <div class="vidprofile"><img
              class="author-dp"
              src="{% static 'media/images/images.jpeg' %}"
              alt="Author profile picture" />
            <h3 class="author-name">Skriter</h3></div>
            <p class="post-content">
              Lorem ipsum dolor sit amet consectetur, adipisicing elit. Porro,
              error commodi consequatur in ab beatae deleniti doloremque amet,
              tempore, magni possimus impedit. Itaque, architecto quidem!
              Tempora excepturi nisi unde accusantium.
            </p>
          </div>
          <div class="reactions">
            <i class="bi bi-heart-fill"></i>
            <img class="reaction-icon" src="comment.svg" alt="Comment icon" />
            <img class="reaction-icon" src="share.svg" alt="Share icon" />
          </div>
        </div>

        <!-- Video 2 -->
        <div class="videobox">
          <video
            id="video2"
            class="postvid"
            onclick="videoControl(2)"
            src="{% static 'media/videos/vidtest2.mp4' %}"
            loop></video>
          <div class="overlay">
            <div class="vidprofile"><img
              class="author-dp"
              src="{% static 'media/images/DP.png' %}"
              alt="Author profile picture" />
            <h3 class="author-name">Rayne</h3></div>
            <p class="post-content">
              Lorem ipsum dolor sit amet consectetur, adipisicing elit. Porro,
              error commodi consequatur in ab beatae deleniti doloremque amet,
              tempore, magni possimus impedit. Itaque, architecto quidem!
              Tempora excepturi nisi unde accusantium.
            </p>
          </div>
          <div class="reactions">
            <img class="reaction-icon" src="like.svg" alt="Like icon" />
            <img class="reaction-icon" src="comment.svg" alt="Comment icon" />
            <img class="reaction-icon" src="share.svg" alt="Share icon" />
          </div>
        </div>

        <!-- Video 3 -->
        <div class="videobox">
          <video
            id="video3"
            class="postvid"
            onclick="videoControl(3)"
            src="{% static 'media/videos/Numbbug.mp4' %}"
            loop></video>
          <div class="overlay">
            <div class="vidprofile"><img
              class="author-dp"
              src="{% static 'media/images/Dp3.png' %}"
              alt="Author profile picture" />
            <h3 class="author-name">Scenery</h3></div>
            <p class="post-content">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorum
              odio aliquid accusamus nam quidem provident porro perspiciatis
              reprehenderit neque officia sequi recusandae, sed ipsum fugit
              ducimus est doloribus sint mollitia!
            </p>
          </div>
          <div class="reactions">
            <img class="reaction-icon" src="like.svg" alt="Like icon" />
            <img class="reaction-icon" src="comment.svg" alt="Comment icon" />
            <img class="reaction-icon" src="share.svg" alt="Share icon" />
          </div>
        </div>
      </div>
      <div class="spacing"></div>
    </div>
  </div>
  {% endblock %}
</div>
