{% extends "Base.html" %} 
{% load static %}
{% block title %} Futa Forum {% endblock %}
{% block content %}
<div class="content">
  <div class="sidebar">
    <div class="userbox">
      <div class="sidebar">
        <div>
          <img src="{% static 'media/images/Futalogo.jpg' %}" />
        </div>
        <div>
          <ul>
            <li>
              <i
                class="bi bi-person"
                style="font-size: 15px; margin-right: 5px"></i
              >Profile
            </li>
            <li>
              <i
                class="bi bi-tools"
                style="font-size: 15px; margin-right: 5px"></i
              >Customization
            </li>
            <li>
              <i
                class="bi bi-building"
                style="font-size: 15px; margin-right: 5px"></i
              >Faculty
            </li>
            <li>
              <i
                class="bi bi-people"
                style="font-size: 15px; margin-right: 5px"></i
              >Department
            </li>
            <li>
              <i
                class="bi bi-chat"
                style="font-size: 15px; margin-right: 5px"></i
              >Social
            </li>
            <li>
              <i
                class="bi bi-gear-wide"
                style="font-size: 15px; margin-right: 5px"></i
              >Settings
            </li>
            <li>
              <i
                class="bi bi-shield-check"
                style="font-size: 15px; margin-right: 5px"></i
              >Privacy
            </li>
            <li>
              <i
                class="bi bi-cash-coin"
                style="font-size: 15px; margin-right: 5px"></i
              >Earn
            </li>
            <li>
              <i
                class="bi bi-envelope-paper"
                style="font-size: 15px; margin-right: 5px"></i
              >Legal Terms
            </li>
          </ul>
        </div>
      </div>
      <div class="userprof">
        {% if user.is_authenticated %}
        <img src="{{ userProfile.profile_picture }}" id="user-dp" />
        <h4 class="user-tag">{{ userprofile.user }}, {{ userprofile.matricNumber }}</h4>
        {% else %}
        <img src="{% static 'media/images/avatar.png' %}" id="user-dp" />
        <h4 class="user-tag"><a href="{% url 'login' %}">&nbsp;Login</a><h4>
        {% endif %}
      </div>
    </div>
  </div>
  <div class="postsection">
    <div class="sidebar2">
      <div class="userbox2">
        <div class="sidebar2">
          <div>
            <img src="{% static 'media/images/Futalogo.jpg' %}" />
          </div>
          <div>
            <ul>
              <li>
                <i
                  class="bi bi-person"
                  style="font-size: 15px; margin-right: 5px"></i
                >Profile
              </li>
              <li>
                <i
                  class="bi bi-tools"
                  style="font-size: 15px; margin-right: 5px"></i
                >Customization
              </li>
              <li>
                <i
                  class="bi bi-building"
                  style="font-size: 15px; margin-right: 5px"></i
                >Faculty
              </li>
              <li>
                <i
                  class="bi bi-people"
                  style="font-size: 15px; margin-right: 5px"></i
                >Department
              </li>
              <li>
                <i
                  class="bi bi-chat"
                  style="font-size: 15px; margin-right: 5px"></i
                >Social
              </li>
              <li>
                <i
                  class="bi bi-gear-wide"
                  style="font-size: 15px; margin-right: 5px"></i
                >Settings
              </li>
              <li>
                <i
                  class="bi bi-shield-check"
                  style="font-size: 15px; margin-right: 5px"></i
                >Privacy
              </li>
              <li>
                <i
                  class="bi bi-cash-coin"
                  style="font-size: 15px; margin-right: 5px"></i
                >Earn
              </li>
              <li>
                <i
                  class="bi bi-envelope-paper"
                  style="font-size: 15px; margin-right: 5px"></i
                >Legal Terms
              </li>
            </ul>
          </div>
        </div>
        <div class="userprof">
          {% if user.is_authenticated %}
          <img src="{{ user.userprofile.profile_picture.url }}" id="user-dp" />
          <h4 class="user-tag">{{ user.username }}</h4>
          {% else %}
          <img src="{% static 'media/images/avatar.png' %}" id="user-dp" />
          <h4 class="user-tag"><a href="{% url 'login' %}">&nbsp;Login</a><h4>
          {% endif %}
        </div>
      </div>
    </div>
    <div>
      {% for post in Posts reversed %}
      <div class="post">
        <div>
          <img
            src="{{ post.authordp }}"
            alt="Author Display Picture"
            class="author-dp" />
        </div>
        <div>
          <div class="post-content">
            <div>
              <h5 class="username">{{ post.author }}</h5>
              <p class="usertag">@{{ post.author }}</p>
            </div>
            <p>{{ post.content }}</p>
          </div>
          <img src="{{ post.image }}" alt="Post Picture" class="post-pic" />
          <div class="reaction-section">
            <i
              class="bi bi-heart-fill reaction1"
              style="font-size: 15px; color: rgb(230, 29, 123)"></i>
            <i
              class="bi bi-chat-left-dots reaction2"
              style="font-size: 15px; color: rgb(0, 0, 0)"></i>
            <i
              class="bi bi-upload reaction3"
              style="font-size: 15px; color: rgb(0, 0, 0)"></i>
            <i
              class="bi bi-bookmark reaction4"
              style="font-size: 15px; color: rgb(0, 0, 0)"></i>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
  <div class="videosection">
    <div>
      {% for video in Videos reversed %}
      <div class="videobox">
        <video
          id="video"
          class="postvid"
          onclick="videoControl(video)"
          src="{{ video.video }}"
          loop></video>
        <div class="overlay">
          <div class="vidprofile">
            <img
              class="author-dp"
              src="{{ video.authordp }}"
              alt="Author profile picture" />
            <h3 class="author-name">{{video.author }}</h3>
          </div>
          <p class="post-content">{{ video.content }}</p>
        </div>
        <div class="reactions">
          <i
            class="bi bi-heart-fill reaction1"
            style="font-size: 22px; color: rgb(230, 29, 123)"></i>
          <i
            class="bi bi-chat-left-dots-fill reaction2"
            style="font-size: 22px; color: rgb(255, 255, 255)"></i>
          <i
            class="bi bi-upload reaction3"
            style="font-size: 22px; color: rgb(255, 255, 255)"></i>
        </div>
      </div>
      {% endfor %}
    </div>
    <div class="spacing"></div>
  </div>
</div>

<div>
  <h1>{{ userprofile.matricNumber }}</h1>
</div>
{% endblock %}
