{% extends "Base.html" %} 
{% load static %}
{% load custom_time %}
{% block title %} Homepage | Futa Forum{% endblock %}
{% block content %}
<div class="column">
    <div class="row-feeds">
        <div class="postcolumn">
            <div class="mobile_post">
                <div class="post_icon" onclick="postPage()">
                    <i class="bi bi-plus-lg"></i>
                </div>
            </div>
            <div class="postform">
                <div>
                    <img src="{{ userprofile.profile_picture.url }}" id="authordp" alt="">
                </div>
                <div class="form_input">
                    <form method="post" class="post_input" enctype="multipart/form-data" id="postInput">
                        {% csrf_token %}
                        <span>
                            {{ form.content }}
                        </span>
                        <p class="media_upload">
                            {{ form.image }}
                            {{ form.docm }}
                        </p>
                        <div id="media">
                            <div class="docm" id="docm">
                                <img src="{% static 'media/images/pdf_logo.jpg' %}" alt="" class="doc">
                                <div>
                                    <p><span id="documentName"></span></p>
                                    <p><span id="documentSize"></span></p>
                                    <p><span id="documentType"></span></p>
                                </div>
                            </div>
                        </div>
                        <div class="media-icon">
                            <span class="media_upload-icon">
                                <i class="bi bi-card-image" onclick="imgUpload()"></i>
                                <i class="bi bi-file-earmark-pdf" onclick="docUpload()"></i>
                            </span>
                            <button type="submit">Post</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="forum">
            <div class="postdisplay">
                {% for post in posts %}
                <div class="post">
                    <div class="post_content">
                        <div>
                            <img src="{{ post.author.userprofile.profile_picture.url }}" id="authordp" alt="">
                        </div>
                        <div class="author">
                            <div class="authordetails">
                                <strong>{{ post.author.username|capfirst }}</strong>
                                <strong>·</strong>
                                <p>{{ post.created_at|time_since }}</p>
                            </div>
                            <div class="content">
                                <p>{{ post.content|truncatewords:35 }}</p>
                                {% if post.image or post.docm %}
                                    {% if post.image and post.docm %}
                                        <!-- Display both image and document -->
                                        <div class="post-content">
                                            <div class="postimg">
                                                <img src="{{ post.image.url }}" alt="Image">
                                            </div>
                                            <div class="postdoc">
                                                <a href="{{ post.docm.url }}" id="documentLink" target="_blank">
                                                    <diiv class="postdoc">
                                                        <img src="{% static 'media/images/pdf_logo.jpg' %}" alt="" class="post_doc">
                                                        <div class="docdetails">
                                                            <p><span id="documentpName"></span></p>
                                                            <!-- <p><span>{{ post.docm.size|filesizeformat }}</span></p>
                                                            <p><span>{{ post.docm.content_type }}</span></p> -->
                                                        </div>
                                                    </diiv>
                                                </a>
                                            </div>
                                        </div>
                                    {% elif post.image %}
                                        <!-- Display only image -->
                                        <div class="post-content">
                                            <div class="postimg">
                                                <img src="{{ post.image.url }}" alt="Image">
                                            </div>
                                        </div>
                                    {% elif post.docm %}
                                        <!-- Display only document -->
                                        <div class="post-content">
                                            <div class="postdoc">
                                                <a href="{{ post.docm.url }}" target="_blank">View Document</a>
                                            </div>
                                        </div>
                                    {% endif %}
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
    <div class="row-user_profile">
        <div class="row-profile">
            <div class="search">
                <i class="bi bi-search"></i>
                <input type="text" placeholder="Search" class="searchbar">
            </div>
            <div class="user_profile"></div>
        </div>
    </div>
</div>

{% endblock %}