{% extends "Base.html" %} 
{% load static %} 
{% block title %} Login {% endblock %}
{% block content %}
<div class="log">
  <form method="post" class="shadow-lg">
    {% csrf_token %}
    <h4>User Login</h4>
    {{ form.as_p }}
    <p>Don't have an account?<span id="inlinelink"><a href="{% url 'register' %}">&nbsp;Create one</a></span></p>
    {% for message in messages %}
    <p class="text-danger">{{message}}</p>
    {% endfor %}
    <input class="shadow" type="submit" value="Login" id="logbtn" />
  </form>
</div>
{% endblock %}
