{% extends "Base.html" %} 
{% load static %}
{% block content %}
<div>
  <div class="log">
    <form class="shadow" method="post" enctype="multipart/form-data">
      {% csrf_token %}
      <h4>Welcome <span class="userWelcome">{{user.username}}</span></h4>
      <div>
        <img
          class="shadow-lg select-pic"
          id="profile-pic"
          src="{% static 'media/images/upload.png' %}"
          alt="Profile Picture"
          onclick="uploadImage()" />
        <input type="file" id="file-input" style="display: none" />
      </div>
      <p class="text-danger">{{ form.matricNumber.errors }}</p>
      <p>
        <!-- Display any form validation errors for matricNumber field -->
      </p>

      <div>
        <label for="id_matricNumber">Matric Number</label>
        {{ form.matricNumber }}
      </div>
      {{ form.faculty.errors }}
      <!-- Display any form validation errors for faculty field -->
      <div>
        <label for="id_faculty">Faculty</label>
        {{ form.faculty }}
      </div>
      {{ form.Department.errors }}
      <!-- Display any form validation errors for department field -->
      <div>
        <label for="id_department">Department</label>
        {{ form.Department }}
      </div>
      <button id="logbtn" class="shadow" type="submit">Submit</button>
    </form>
  </div>
</div>
{% endblock %}
