{% extends "Base.html" %} 
{% load static %}
{% block title %} Create Profile | Onboarding{% endblock %}
{% block registration %}
<div class="logpg-navbar">
  <div class="lgimg">
    <img src="{% static 'media/images/FUTA-logo.png' %}" class="" alt="">
  </div>
</div>
<div class="drs">
  <div class="reg">
    <div class="container">
      <div>
        {% if user.userprofile.profile_picture %}
        <img src="{{ user.userprofile.profile_picture.url }}" id="profile" alt="" onclick="uploadImage()">
        {% else %}
        <img src="{% static 'media/images/plus.png' %}" id="profile" class="plus" alt="" onclick="uploadImage()">
        {% endif %}
      </div>
      <h3 id="cta">Welcome <span class="userWelcome">{{ user.username|capfirst }}</span>.</h3>
    </div>
    <div class="log">
      <form class="shadow-lg" method="post" action="" class="form" enctype="multipart/form-data">
        {% csrf_token %}
        <p>
          {{ form.profile_picture }}
        </p>
        <p>
          {{ form.matricNumber }}
        </p>
        <p>
          {{ form.Department }}
        </p>
        <p>
          {{ form.faculty }}
        </p>
        <button type="submit">Create</button>
      </form>
      
      <!--Error message display-->
      {% if form.matricNumber.errors %}
        <div class="error">{{ form.matricNumber.errors }}</div>
      {% endif %}
    </div>
  </div>
  <div class="lgscreen">
    <div class="flogo">
      <img src="{% static 'media/images/FUTA-logo.png' %}" alt="">
    </div>
  </div>
</div>
{% endblock %}
